In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('data.xlsx')

In [3]:
df

,Kota,MAKANAN DAN MINUMAN JADI,ROTI TAWAR,ROTI MANIS DAN LAINNYA,KUE KERING BISKUIT SEMPRONG,KUE BASAH,MAKANAN GORENG,BUBUR KACANG HIJAU,GADO GADO KETOPRAK,NASI CAMPUR RAMES,...,BUBUR AYAM,SIOMAY BATAGO,MAKANAN JADI LAINNYA,AIR KEMASAN,AIR GALON,AIR TEH KEMASAN DAN BERSODA,SARI BUAH KEMASAN MINUMAN KESEHATAN,MINUMAN JADI KOPI SUSU,ES KRIM,ES LAINNYA
0,NaN,2021,2021,2021,2021,2021,2021,2021,2021,2021,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
1,Simeulue,23744,46,348,411,3903,1877,154,54,1277,...,15,164,94,137,1587,78,313,4114,396,286
2,Aceh Singkil,26997,1077,1093,566,1309,2966,558,611,632,...,54,270,201,254,1134,118,145,2253,876,356
3,Aceh Selatan,38327,166,1021,710,3243,2531,329,256,8938,...,11,449,98,237,476,329,425,4892,862,335
4,Aceh Tenggara,28338,254,761,514,1710,2488,363,443,1234,...,110,1478,172,466,546,312,613,3634,822,414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Puncak,8898,-,-,755,115,6958,-,-,-,...,-,-,-,49,436,-,-,-,-,-
511,Dogiyai,4992,92,486,133,124,645,22,-,1592,...,-,-,11,74,3,611,140,679,-,-
512,Intan Jaya,1468,153,9,7,5,542,-,-,282,...,-,-,-,124,-,188,-,9,-,15
513,Deiyai,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
514,Kota Jayapura,56616,795,1165,912,3382,1873,560,2051,10783,...,663,491,3543,2021,2563,1114,678,2301,648,981

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Kota                                 514 non-null    object
 1   MAKANAN DAN MINUMAN JADI             515 non-null    object
 2   ROTI TAWAR                           515 non-null    object
 3   ROTI MANIS DAN LAINNYA               515 non-null    object
 4   KUE KERING BISKUIT SEMPRONG          515 non-null    object
 5   KUE BASAH                            515 non-null    object
 6   MAKANAN GORENG                       515 non-null    object
 7   BUBUR KACANG HIJAU                   515 non-null    object
 8   GADO GADO KETOPRAK                   515 non-null    object
 9   NASI CAMPUR RAMES                    515 non-null    object
 10  NASI GORENG                          515 non-null    object
 11  NASI PUTIH                           515 non-null    object
 12  LONTONG KETUPAT SAYUR                515 non-null    object
 13  SOTO GULE SOP RAWON                  515 non-null    object
 14  SAYUR MATENG                         515 non-null    object
 15  SATE TONGSENG                        515 non-null    object
 16  MIE BAKSO REBUS GORENG               515 non-null    object
 17  MIE INSTAN                           515 non-null    object
 18  MAKANAN RINGAN ANAK ANAK             515 non-null    object
 19  IKAN MATANG                          515 non-null    object
 20  AYAM DAGING MATANG                   515 non-null    object
 21  DAGING OLAHAN SOSIS NUGGET           515 non-null    object
 22  BUBUR AYAM                           515 non-null    object
 23  SIOMAY BATAGO                        515 non-null    object
 24  MAKANAN JADI LAINNYA                 515 non-null    object
 25  AIR KEMASAN                          515 non-null    object
 26  AIR GALON                            515 non-null    object
 27  AIR TEH KEMASAN DAN BERSODA          515 non-null    object
 28  SARI BUAH KEMASAN MINUMAN KESEHATAN  515 non-null    object
 29  MINUMAN JADI KOPI SUSU               515 non-null    object
 30  ES KRIM                              515 non-null    object
 31  ES LAINNYA                           515 non-null    object
dtypes: object(32)
memory usage: 128.9+ KB

In [7]:

df = df.replace("-",0)
df2 = df.iloc[:,1:30].astype(float)
df2

,MAKANAN DAN MINUMAN JADI,ROTI TAWAR,ROTI MANIS DAN LAINNYA,KUE KERING BISKUIT SEMPRONG,KUE BASAH,MAKANAN GORENG,BUBUR KACANG HIJAU,GADO GADO KETOPRAK,NASI CAMPUR RAMES,NASI GORENG,...,AYAM DAGING MATANG,DAGING OLAHAN SOSIS NUGGET,BUBUR AYAM,SIOMAY BATAGO,MAKANAN JADI LAINNYA,AIR KEMASAN,AIR GALON,AIR TEH KEMASAN DAN BERSODA,SARI BUAH KEMASAN MINUMAN KESEHATAN,MINUMAN JADI KOPI SUSU
0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,...,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0
1,23744.0,46.0,348.0,411.0,3903.0,1877.0,154.0,54.0,1277.0,693.0,...,229.0,11.0,15.0,164.0,94.0,137.0,1587.0,78.0,313.0,4114.0
2,26997.0,1077.0,1093.0,566.0,1309.0,2966.0,558.0,611.0,632.0,2166.0,...,487.0,286.0,54.0,270.0,201.0,254.0,1134.0,118.0,145.0,2253.0
3,38327.0,166.0,1021.0,710.0,3243.0,2531.0,329.0,256.0,8938.0,991.0,...,560.0,28.0,11.0,449.0,98.0,237.0,476.0,329.0,425.0,4892.0
4,28338.0,254.0,761.0,514.0,1710.0,2488.0,363.0,443.0,1234.0,1525.0,...,322.0,630.0,110.0,1478.0,172.0,466.0,546.0,312.0,613.0,3634.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,8898.0,0.0,0.0,755.0,115.0,6958.0,0.0,0.0,0.0,21.0,...,194.0,0.0,0.0,0.0,0.0,49.0,436.0,0.0,0.0,0.0
511,4992.0,92.0,486.0,133.0,124.0,645.0,22.0,0.0,1592.0,42.0,...,79.0,0.0,0.0,0.0,11.0,74.0,3.0,611.0,140.0,679.0
512,1468.0,153.0,9.0,7.0,5.0,542.0,0.0,0.0,282.0,13.0,...,30.0,0.0,0.0,0.0,0.0,124.0,0.0,188.0,0.0,9.0
513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
514,56616.0,795.0,1165.0,912.0,3382.0,1873.0,560.0,2051.0,10783.0,4084.0,...,1140.0,354.0,663.0,491.0,3543.0,2021.0,2563.0,1114.0,678.0,2301.0

In [ ]:
df2.describe()

df = float(df[df['MAKANAN DAN MINUMAN JADI']])

In [ ]:
#pengecekan kolom kosong
df.dropna(inplace=True)
df.isna().sum()

In [ ]:
df.head(5)

In [ ]:
X = df.iloc[:,1:30]
X

In [ ]:
y = df.iloc[:,0]
y

In [ ]:
df3 = minmax

In [ ]:
df3

In [ ]:
KMeans(n_clusters=2).fit(df).score(df3)